body {
    margin: 0;
}

#avatar-container {
    background-color: lightgray;
}

img {
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px
}

.attribute {
    margin-left: 100px;
    background-color: gray;
}

.attribute-title {
    text-align: center
}

.skill {
    padding: 20px;
    margin-right: 40px;
}

.button {
    padding: 20px;
    background-color: lightgray;
}

#name {
    display: inline;
    text-align: center
}

#level {
    display: inline;
}

#skillpoint {
    display: inline;
}

#skillpoint-container {
    height: 70px;
}

#avatar-container {
    width: 100px;
    height: 100px;
}

.inline {
    display: inline-block;
}

.grid-heropicture {
    grid-area: heropicture;
}

.grid-heroname {
    grid-area: heroname;
}

.grid-herohp {
    grid-area: herohp;
}

.grid-heroexp {
    grid-area: heroexp;
}

.grid-heroattr {
    grid-area: heroattr;
}

.grid-heroskill {
    grid-area: heroskill;
}

.grid-enemy {
    grid-area: enemy;
}


.grid-container {
    display: grid;
    grid-template-areas: 'heropicture heroname herohp enemy enemy enemy' 'heroexp heroexp heroexp enemy enemy enemy' 'heroattr heroattr heroattr enemy enemy enemy' 'heroskill heroskill heroskill enemy enemy enemy';
    grid-gap: 20px;
    background-color: #ffad33;
    height: 100vh;
}

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.3);
        text-align: center;
        padding: 15px 0;
        font-size: 22px;
    }

#fightlog {
    height: 60vh;
    width: 50vw;
    overflow: auto;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px
}
#fightlog > * {
    display: block;
    margin-top: 10px;
}

    #fightlog > *:first-child {
        margin-top: 0px;
    }
