
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/Game.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/HeroPage.css">
    <title>Hero Page</title>
</head>
<body>
    <div style="width:90px;height:90px;display:inline-block"></div>
    <h2  id="heroname" ></h2>
    <h2  id="hp" style="display:inline" >Hp: </h2>
    <p></p>
    <h3 id="level">Level</h3>
    <h3 id="skillpoint"></h3>
    <p></p>
    <div class="atribut" style="margin-left:30px" id="atk" ></div>
    <div class="atribut" id="def"></div>
    <div class="atribut" id="agi"></div>
    <div class="atribut" id="vit"></div>
    <p></p>
    <div class="skill">1</div>
    <div class="skill">2</div>
    <p></p>
    <div class="skill">3</div>
    <div class="skill">4</div>
    <p></p>
    <div class="skill">5</div>
    <div class="skill">6</div>
    
</body>
</html>




