
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/Game.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/HeroPage.css">
    <title>Hero Page</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-heropicture">
            <div id="avatar-container" class="inline" title="Hero Avatar">
                <img id="avatar" src="">
            </div>
        </div>
        <div class="grid-heroname">
            <h2 id="name" title="Name"></h2>
        </div>
        <div class="grid-herohp">
            <h2 id="hp" title="Health Points" class="inline"></h2>
        </div>
        <div class="grid-heroexp">
            <div id="skillpoint-container">
                <h4 id="level">Level</h4>
                <div class="inline">
                    <h4 class="inline" style="margin-left:30px">Skillpoints: </h4>
                    <h4 id="skillpoint"></h4>
                </div>
            </div>
            <div style="display:block">
                <label style="display:block">
                    EXP:
                    <div class="inline" id="expcount">0/100</div>
                </label>
                <progress style="width:300px" value="0" max="100" id="expbar"></progress>
            </div>
        </div>
        <div class="grid-heroattr">
            <table id="attributes-container" title="Attributes" align="center">
                <tr>
                    <td class="attribute-title" title="Attack">ATK</td>
                    <td class="attribute-title" title="Defense">DEF</td>
                    <td class="attribute-title" title="Agility">AGI</td>
                    <td class="attribute-title" title="Vitality">VIT</td>
                </tr>
                <tr>
                    <td class="attribute button" id="atk" title="Attack"></td>
                    <td class="attribute button" id="def" title="Defense"></td>
                    <td class="attribute button" id="agi" title="Agility"></td>
                    <td class="attribute button" id="vit" title="Vitality"></td>
                </tr>
            </table>
        </div>
        <div class="grid-heroskill">
            <table id="skills-container" title="Skills" align="center">
                <tr class="skills-row">
                    <td class="skill button" title="CounterAttacck">1</td>
                    <td class="skill button" title="CriticalStrike">2</td>
                </tr>
                <tr class="skills-row">
                    <td class="skill button" title="Learning">3</td>
                    <td class="skill button" title="Regenerate">4</td>
                </tr>
                <tr class="skills-row">
                    <td class="skill button" title="Revive">5</td>
                    <td class="skill button" title="Scavenge">6</td>
                </tr>
            </table>
            <button id="fightbutton">
                Fight
            </button>
        </div>
        <div class="grid-enemy">
            <H3 id="enemy-name"></H3>
            <h4 id="enemy-hp"></h4>
            <table id="enemy-attributes-container" title="Attributes" style="display:none" align="center">
                <tr>
                    <td class="attribute-title" title="Attack">ATK</td>
                    <td class="attribute-title" title="Defense">DEF</td>
                    <td class="attribute-title" title="Agility">AGI</td>
                    <td class="attribute-title" title="Vitality">VIT</td>
                </tr>
                <tr>
                    <td class="attribute button" id="enemy-atk" title="Attack"></td>
                    <td class="attribute button" id="enemy-def" title="Defense"></td>
                    <td class="attribute button" id="enemy-agi" title="Agility"></td>
                    <td class="attribute button" id="enemy-vit" title="Vitality"></td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>




