
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/Game.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/HeroPage.css">
    <title>Hero Page</title>
</head>
<body>
    <div id="top-container">
        <div id="avatar-container" class="inline" title="Hero Avatar">
            <img id="avatar" src="">
        </div>
        <div id="name-container" class="inline">
            <h2 id="name" title="Name"></h2>
            <h2 class="inline"> | </h2>
            <h2 id="hp" title="Health Points" class="inline"></h2>
        </div>
        <div style="display:block">
            <label style="display:block">EXP: <div class="inline" id="expcount"> 20/22</div></label>
            <progress style="width:300px" value="0" max="100" id="expbar"></progress>
        </div>
        <div id="skillpoint-container">
            <h3 id="level">Level</h3>
            <div class="inline">
                <h3 class="inline" style="margin-left:30px">Skillpoints: </h3>
                <h3 id="skillpoint"></h3>
            </div>
        </div>
    </div>
    <hr/>
    
    <table id="attributes-container" title="Attributes">
        <tr>
            <td class="attribute-title" id="atk_title" title="Attack">ATK</td>
            <td class="attribute-title" id="def_title" title="Defense">DEF</td>
            <td class="attribute-title" id="agi_title" title="Agility">AGI</td>
            <td class="attribute-title" id="vit_title" title="Vitality">VIT</td>
        </tr>
        <tr>
            <td class="attribute button" id="atk" title="Attack"></td>
            <td class="attribute button" id="def" title="Defense"></td>
            <td class="attribute button" id="agi" title="Agility"></td>
            <td class="attribute button" id="vit" title="Vitality"></td>
        </tr>
    </table>
    <table id="skills-container" title="Skills">
        <tr class="skills-row">
            <td class="skill button" title="CounterAttacck">1</td>
            <td class="skill button" title="CriticalStrike">2</td>
        </tr>
        <tr class="skills-row">
            <td class="skill button" title="Learning">3</td>
            <td class="skill button" title="Regenerate">4</td>
        </tr>
        <tr class="skills-row">
            <td class="skill button" title="Revive">5</td>
            <td class="skill button" title="Scavenge">6</td>
        </tr>
    </table>

    <button id="fightbutton">
        Fight
    </button>

</body>
</html>




