
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/Game.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/HeroPage.css">
    <title>Hero Page</title>
</head>
<body>
    <div style="width:90px;height:90px;display:inline-block"></div>
    <h2 style="display:inline;text-align:center;m">Hero Name</h2>
    <p></p>
    <h3 style="display:inline-block;margin-left:95px">Level</h3>
    <h3 style="display:inline;margin-left:30px">Skill Point</h3>
    <p></p>
    <div class="atribut" >ATK</div>
    <div class="atribut" >DEF</div>
    <div class="atribut" >AGI</div>
    <div class="atribut" >VIT</div>
    <p></p>
    <div class="skill">1</div>
    <div class="skill">2</div>
    <p></p>
    <div class="skill">3</div>
    <div class="skill">4</div>
    <p></p>
    <div class="skill">5</div>
    <div class="skill">6</div>
    
</body>
</html>




