
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/Game.js"></script>
    <title>Hero Page</title>
</head>
<body>
    <div style="width:90px;height:90px;display:inline-block"></div>
    <h2 style="display:inline;text-align:center;m">Hero Name</h2>
    <p></p>
    <h3 style="display:inline-block;margin-left:95px">Level</h3>
    <h3 style="display:inline;margin-left:30px">Skill Point</h3>
    <p></p>
    <div style="display:inline;margin-left:30px">ATK</div>
    <div style="display:inline;margin-left:30px">DEF</div>
    <div style="display:inline;margin-left:30px">AGI</div>
    <div style="display:inline;margin-left:30px">VIT</div>
    <p></p>
    <div style="display:inline;margin-left:30px">1</div>
    <div style="display:inline;margin-left:200px">2</div>
    <p></p>
    <div style="display:inline;margin-left:30px">3</div>
    <div style="display:inline;margin-left:200px">4</div>
    <p></p>
    <div style="display:inline;margin-left:30px">5</div>
    <div style="display:inline;margin-left:200px">6</div>
    
</body>
</html>




