
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/Game.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/HeroPage.css">
    <title>Hero Page</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-heropicture">
            <div id="avatar-container" class="inline" title="Hero Avatar">
                <img id="avatar" src="">
            </div>
        </div>
        <div class="grid-heroname">
            <h2 id="name" title="Name"></h2>
        </div>
        <div class="grid-herohp">
            <h2 id="hp" title="Health Points" class="inline"></h2>
        </div>
        <div class="grid-heroexp">
            <div style="display:block">
                <label style="display:block">
                    EXP:
                    <div class="inline" id="expcount">0/100</div>
                </label>
                <progress style="width:300px" value="0" max="100" id="expbar"></progress>
            </div>
            <div id="skillpoint-container">
                <h4 id="level">Level</h4>
                <div class="inline">
                    <h4 class="inline" style="margin-left:30px">Skillpoints: </h4>
                    <h4 id="skillpoint"></h4>
                </div>
            </div>
        </div>
        <div class="grid-heroattr">
            <table id="attributes-container" title="Attributes" align="center">
                <tr>
                    <td class="attribute-title" id="atk_title" title="Attack">ATK</td>
                    <td class="attribute-title" id="def_title" title="Defense">DEF</td>
                    <td class="attribute-title" id="agi_title" title="Agility">AGI</td>
                    <td class="attribute-title" id="vit_title" title="Vitality">VIT</td>
                </tr>
                <tr>
                    <td class="attribute button" id="atk" title="Attack"></td>
                    <td class="attribute button" id="def" title="Defense"></td>
                    <td class="attribute button" id="agi" title="Agility"></td>
                    <td class="attribute button" id="vit" title="Vitality"></td>
                </tr>
            </table>
        </div>
        <div class="grid-heroskill">
            <table id="skills-container" title="Skills" align="center" class="equalDivide" cellpadding="0" cellspacing="0" >
                <tr class="skills-row">
                    <td class="button" title="Counter-Attack" id="CounterAttack">
                        <span id="CounterAttack-Icon" class="skill-icon">🤺</span>
                        <span id="CounterAttack-Desc">asdasda</span>
                    </td>
                    <td class="button" title="Critical Strike" id="CriticalStrike">
                        <span id="CriticalStrike-Icon" class="skill-icon">⚔</span>
                        <span id="CriticalStrike-Desc">asdasda</span>
                    </td>
                </tr>
                <tr class="skills-row">
                    <td class="button" title="Learning" id="Learning">
                        <span id="Learning-Icon" class="skill-icon">📖</span>
                        <span id="Learning-Desc">asdasda</span>
                    </td>
                    <td class="button" title="Regenerate" id="Regenerate">
                        <span id="Regenerate-Icon" class="skill-icon">💕</span>
                        <span id="Regenerate-Desc">asdasda</span>
                    </td>
                </tr>
                <tr class="skills-row">
                    <td class="button" title="Revive" id="Revive">
                        <span id="Revive-Icon" class="skill-icon">💖</span>
                        <span id="Revive-Desc">asdaasdasdsadadsda</span>
                    </td>
                    <td class="button" title="Scavenge" id="Scavenge">
                        <span id="Scavenge-Icon" class="skill-icon">☠</span>
                        <span id="Scavenge-Desc">asdasda</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="grid-enemy">
            <div> enemy name</div>
            <div> enemy stat</div>
            <button id="fightbutton">
                Fight
            </button>
        </div>
    </div>

</body>
</html>